.theme {
	background-repeat: no-repeat;
	background-size:cover;
}

.my-header {
    font-family: Neucha;
}

.my-catalog {
    margin: 30px 0px 150px;
    min-width: 150px;
}

.my-card {
    margin: 50px 200px 250px 200px;
    min-width: 200px;
}

.basket-card {
    min-height: 300px;
}

.empty-basket {
    margin-top:70px;
    text-align: center;
}

.my-icon {
    max-width: 25px;
}

.my-footer {
    margin: 0px 10px;
}

.dark-input {
    color: white !important;
}

.theme-button {
    border: transparent !important;
    background-color: transparent !important;
    max-width: 70px;
}

.theme-image {
    border: transparent !important;
    background-color: transparent !important;
    max-width: 70px;
}

.login-form {
    margin: 50px 100px;
    min-width: 150px;
}

.my-card-header {
    width: 50%;
    display: inline-grid !important;
}

.deco-name {
    justify-self: left;
}

.badge-price {
    justify-self: right;
    margin-top: 10px !important;
    margin: 5px;
    max-height: 25px !important;
}

.my-badge {
    margin-top: 5px !important;
    margin: 5px;
    max-height: 25px !important;
}

.my-row {
    display: flex;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    width: 100% !important;
}

.my-bottom-row {
    display: flex;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    justify-content: center !important;
    width: 100% !important;
}

.btn {
    margin: 5px !important;
}

.navbar-brand {
    justify-content: center !important;
    font-family:"Montez" !important;
    font-size: 40px !important;
    padding: 0 !important;
    margin: 0 !important;
    font-weight: bold !important;
}

.navbar-left {
    justify-content: left !important;
    width: 33% !important;
}

.navbar-right {
    justify-content: right !important;
    width: 33% !important;
}

.navbar-toggler {
    margin-left: 50% !important;
}

.btn-link {
    font-size: 20px !important;
}

.bg-light-red {
    background-color:#ed7179 !important;
}

.single-card {
    width: 300px;
    height: 300px !important;
    margin: 5rem;
    transition: all .4s ease;
}

.single-card:hover {
    width: 320px;
    height: 320px !important;
}

.little-image {
    justify-self: center !important;
    max-width: 150px;
    max-height: 150px;
    box-shadow:8px 8px 10px 0 rgba(0,0,0,0.5);
}

.error {
    color: #ed7179;
}

@font-face {
    font-family: "Montez";
    src: url(../webfonts/Montez-Regular.ttf);
  }