body {
    background-image: url("../img/background-flowers.jpg") !important;
	background-repeat: no-repeat;
	background-size:cover;
}

.badge {
    margin-top: 10px !important;
    margin: 5px;
    max-height: 25px !important;
}

.btn {
    margin: 5px !important;
}

.navbar-brand {
    font-family:"Montez" !important;
    font-size: 40px !important;
    padding: 0 !important;
    margin: 0 !important;
}

.navbar-left {
    max-width: 680px !important;
}

.navbar-right {
    justify-content: right !important;
}

.btn-link {
    font-size: 20px !important;
}

.bg-light-red {
    background-color:#ed7179 !important;
}

.single-card {
    width: 300px;
    height: 300px !important;
    margin: 5rem;
    transition: all .4s ease;
}

.single-card:hover {
    width: 320px;
    height: 320px !important;
}

.little-image {
    justify-self: center !important;
    max-width: 150px;
    max-height: 150px;
    box-shadow:8px 8px 10px 0 rgba(0,0,0,0.5);
}

@font-face {
    font-family: "Montez";
    src: url(../webfonts/Montez-Regular.ttf);
  }